    .vscode/

.DS_STORE

*.swp

logs/


# don't commit the map
3k_shared.map
**3k_shared.map.bak

# don't commit any password files
password.tin

# other stuff not to commit
krat/
private.tin
statboosts.tin
ips.tin
sftp.json
event_test.tin
*.log
tmp/

chars/chad/
chars/droptable/
chars/ivy
chars/karen
chars/landshark
chars/mako
chars/nameless-elemental
chars/roor
chars/ryst
common/areas/hockey.tin

notes/
common/bot/bots/knight-tour-solver-6.py
common/bot/bots/knight-tour-solver-8.py
common/map/3k_shared.map.bk
chars/nameless/abyssbot.tin
chars/nameless/actions.tin
chars/nameless/aliases.tin
chars/nameless/config.tin
chars/nameless/gags.tin
chars/nameless/heartbeat.tin
chars/nameless/miphp.tin
chars/nameless/nameless.tin
chars/nameless/taco.tin
chars/nameless/vars.tin
chars/mud/actions.tin
chars/mud/aliases.tin
chars/mud/byron.tin
chars/mud/config.tin
chars/mud/heartbeat.tin
chars/mud/miphp.tin
chars/mud/pstats.tin
chars/mud/styles.tin
chars/mud/vars.tin
chars/toren/notes.md
Psicorps Notes.xlsx
