.vscode/

.DS_STORE

*.swp

logs/


# don't commit the map
**3k_shared.map
**3k_shared.map.bak

# don't commit any password files
password.tin

# other stuff not to commit
private.tin
statboosts.tin
ips.tin
sftp.json
event_test.tin
*.log

chars/chad/
chars/droptable/
chars/ivy
chars/karen
chars/landshark
chars/mako
chars/nameless-elemental
chars/roor
chars/ryst
common/areas/hockey.tin

notes/
common/bot/bots/knight-tour-solver-6.py
common/bot/bots/knight-tour-solver-8.py
common/map/3k_shared.map.bk
