    .vscode/

.DS_STORE

*.swp

logs/


# don't commit backups of the map
common/map/backups

# don't commit any password files
password.tin

# other stuff not to commit
krat/
private.tin
statboosts.tin
ips.tin
ips_temp.tin
common/guilds/necromancer/InvokePrime.tin
sftp.json
event_test.tin
*.log
tmp/

chars/chad/
chars/droptable/
chars/ivy
chars/karen
chars/landshark
chars/mako
chars/mud
chars/nameless
chars/nameless-elemental
chars/nine
chars/nix
chars/piney
chars/roor
chars/ryst
chars/tarnished
chars/void
chars/zorbaine
chars/*/private
chars/*/vars.tin

notes/
common/bot/bots/knight-tour-solver-6.py
common/bot/bots/knight-tour-solver-8.py
chars/toren/notes.md
chars/oscar/notes
Psicorps Notes.xlsx
common/bot/generic_old.tin
common/bot/generic_new.tin
byron.tin
setup.sh
common/private.tin
breed.map
chars/askum/mapstuff.tin
common/3kReport_temp.tin
.claude/settings.local.json
tintin-beta.tar.gz
tt_update
archive/2026-09-19_15:47:22_tintin-beta.tar.gz
3k.tin
ser.tin
common/bot/bots/aegis_vault.tin
common/bot/bots/carebears_gear.tin
chars/ser/zelligars_boss.tin
